html {
  font-size: calc(12px + 9 * ((100vw - 420px) / 860)); }

@media screen and (min-width: 1280px) {
  html {
    font-size: 21px; } }

@media screen and (max-width: 420px) {
  html {
    font-size: 12px; } }

.parallaxBild {
  background-image: url(../img/par.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.btn {
  background-color: darkgray !important; }

.formTop {
  background-color: whitesmoke;
  max-width: 800px;
  max-height: 600px; }
